.card-one-caontainer {
  width: 100%;
  margin-bottom: 2rem;
}
.card-one-title-container{
  display: flex;
  max-width: 90%;
  margin-inline: auto;
  justify-content: space-between;
}
.card-one-title-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:end;
  font-family: var(--font-teko);
  font-weight: 700;
  font-size:8rem;
  -webkit-text-stroke: 1px rgba(193,141,35,255);
  -webkit-text-fill-color: transparent;
  z-index: 1000;

  text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     rgba(193,141,35,255) 0%,
     #f0f8ff31 29%,
     #ffffff1c 67%,
     #fff7001a 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   /* color: #fff; */
   background-clip: text;
   /* text-fill-color: transparent; */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 5s linear infinite;
   display: inline-block;
}
.card-one-title-fix{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  font-family: var(--font-teko);
  font-weight: 700;
  font-size:8rem;
  text-transform: uppercase;
}

.services {
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cards {
  display: flex;
  justify-content: space-between;
}

.card-img {
  flex: 0 1 48%;
  border-radius: 2rem;
}

.card-text {
  flex: 0 1 48%;
  /* padding-inline: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 131px -80px rgba(117, 77, 28, 1);
  -moz-box-shadow: 0px 0px 131px -80px rgba(117, 77, 28, 1);
  box-shadow: 0px 0px 131px -80px rgba(117, 77, 28, 1);
}

.card-1 .card-text {
  background-image: url("/images/art 1.png");
  background-repeat: no-repeat;
  background-size: 40%;
}
.card-2 .card-text {
  background-image: url("/images/art 1.png");
  background-repeat: no-repeat;
  background-size: 40%;
}
.card-3 .card-text {
  background-image: url("/images/art 1.png");
  background-repeat: no-repeat;
  background-size: 40%;
}
.card-text .card-title {
  font-size: 1.5rem;
  font-family: var(--font-teko);
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 3;
  color: #1e3d2e;
}
.card-text p {
  font-family: var(--font-teko);
  font-size: 1.3rem;
  color: rgb(124, 121, 121);
  text-align: justify;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.658);
  margin-inline: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 0px #d9d9d93f;

  -webkit-box-shadow: 0px 0px 131px -80px rgba(117, 77, 28, 1);
  -moz-box-shadow: 0px 0px 131px -80px rgba(117, 77, 28, 1);
  box-shadow: 0px 0px 131px -80px rgba(117, 77, 28, 1);
  animation: fadeInBackward 2s ease 0s 1 normal forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.card-btn {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: rgba(193, 141, 35, 255);
  color: #1e3d2e;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(193, 141, 35, 255);
  font-family: var(--font-teko);
}

.card-btn:hover {
  background-color: rgba(193, 141, 35, 255);
  outline: 1.5px solid #1e3d2e;
  color: white;
  transition: 0.5s ease;
}

@keyframes zoomOut {
  0% {
    transform: scale(2);
    transform-origin: 50% 0%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}
