header {
    max-width: 90%;
    min-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items:start;
    margin-inline: auto;
    border-bottom: 1px solid rgba(193,141,35,255);
  }
  

  
  
  .title-main{
    font-family: var(--font-teko);
    font-weight: 300;
    font-size: 1.5rem;
    color: #1e3d2e;

  }
  .title-main span{
    color: rgba(193,141,35,255);
    animation: plusAnim 4s ease 0s 1 normal forwards;
  
    
  }
  .title-main span sup{    
    color: rgba(193,141,35,255);
  }
  

  
  
  
  nav {
    font-family: var(--font-teko);
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 0.5rem;

  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  
  nav ul > li {
    cursor: pointer;
    color: #1e3d2e;
    font-size: 1.2rem;    
  }
  
  nav ul > li:hover {
    color: #57b187;
    transition: 0.5s ease;

  }
  
  .navbar-icon {
    display: none;
  }