
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    background-image: url('/images/art 2.png');
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 70%;
    
}

form{
    background-color: #ffffff;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.3);
    padding: 50px 35px;
    min-width: 30%;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #1e3d2e;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
  font-family: var(--font-teko);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #1e3d2e;
}

label{
  font-family: var(--font-teko);

    display: block;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 500;
}
.button-sign{
  display: block;  
  text-align: center;
  margin-top: 4rem;
  min-width: 100%;
  outline: 1px solid rgba(193,141,35,255);
  color: white;
  background-color: rgba(193,141,35,255);    
  padding: 15px 0;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(193,141,35,255);
  text-decoration: none;
  font-family: var(--font-teko);

}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #1e3d2e42;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: black;
}

.button-sign:hover{
  color: white;
  outline: none;
  transition: 0.5s ease;
}
.social{
  margin-top: 30px;
}
.social div{
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}

.go {
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: var(--font-teko);
  font-size: 1rem;
  color: #111827;
  
  
}