.three-cards {
    background-image: url("/images/coffee/3.jpg");
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-inline: auto;
    padding: 2rem;
    border-radius: 2rem;
    transition: 1s ease;
    /* background-color: #dadada; */
  
  }
  .three-cards:hover{
    filter:grayscale(40%);
    transition: 0.5s ease;
  }
  .why {
    display: flex;
      justify-content: center;
    font-family: var(--font-teko);
    font-size: 3rem;
    color: #1e3d2e;
    text-shadow: 5px 0px 0px rgba(117,77,28,0.26);
    animation: appearAnim linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  .one-of-three {  
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 2rem;  
    border-radius: 2rem;
    background-color: #f0f8ff;
    opacity: 0.9;
    padding: 2rem;
    height: 30rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: 1s ease;
  }
  
  .one-of-three p {
    font-family: var(--font-lato);
    font-size: 1.1rem;
    color: rgb(124, 121, 121);
    text-align: justify;
    animation: appearAnim linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  
  }
  
  .one-of-three:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    opacity: 1;
    background-color: white;
    transition: 1s;
  }