* {
  box-sizing: border-box;
}

html.lenis,
html.lenis body {
  height: 100%;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
body {
  background-color: #f0f8ff;
  /* background-image: url('/images/persons/art 5.png');
  background-repeat: no-repeat;
  background-position:top left;
  background-size: 50%; */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
h1, h2, h3, h4, h5, h6, ul, li,span, sup,Image {
  margin: 0;
  padding: 0;
}



/* service two */
.services-two {
  padding : 2rem;
  display: flex;
  background-image: url('/images/persons/art 3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  margin-top: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  
}
.short-img{
  width: 100%;
  border-radius: 2rem;
}
.services-two-text{
  padding: 1rem;
  border: 1px solid rgba(193,141,35,255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline: 1rem;
  border-radius: 122px 0px 123px 0px;
-webkit-border-radius: 122px 0px 123px 0px;
-moz-border-radius: 122px 0px 123px 0px;
/* From https://css.glass */
background: rgba(255, 235, 182, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
/* border: 1px solid rgba(255, 235, 182, 0.3); */

}
.services-two-text:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.services-two-text p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  color: rgb(100, 98, 98);  
  vertical-align: middle;
  animation: appearAnim linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.long-img {
  max-width:100%;
  border-radius: 2rem;
  /* flex: 0 1 40%; */
}
.services-two-title{
  font-size: 2rem;  
  font-family: var(--font-lato);
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  /* line-height: 3; */
  animation: appearAnim linear;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

/* gallery section */




/* logo bottom */



@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



/* footer */





.scroll {
  position: fixed;
  opacity: 0.5;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 999;  

}

/*responsive*/

/* Medium phones (portrait and landscape) */
@media (max-width: 480px) {
  header {
    padding: 0;
  }
  .title-container{
    flex: 0 1 90%;
  }
  .title-main {
    word-spacing: normal;
    font-size: 1.2rem;
  }
  nav {
    display: none;
  }
  .section {
    padding-inline: 0.5rem;
  }
  .title-hero{
    font-size: 2rem;
  }
  .hero-perfection{
    font-size: 2.5rem;
  }
  .hero-text-desc{
    font-size: 0.7rem;
  }
  .social-icons {
    margin-bottom: 1rem;
    margin-inline: auto;
  }
  .social-icons > *{
    margin-inline: 0.5rem;
  }
  .services {
   gap: 1rem;
   padding: 1rem;
   width: 100%;
  }
  .cards {
    padding: 0.5rem;
   flex-direction: column;
   width: 100%;
   align-items: center;
   padding-bottom: 0.5rem;

  }
  .card-img{
    flex: 0 1 30%;
    max-height: 40rem;
    width: 100%;
    margin-inline: auto;

  }
  .card-badge{
    display: none;
  }
  .card-text .card-title{
    font-size: 1rem;
  }
  .card-text{
    padding-inline: 0;
    flex: 0 1 70%;
  }
  .card-text p{
    font-size: 0.7rem;
  }
  .card-img-2 {
    order: -1;
  }

  .card-btn{
    display: none;
  }

  .gallery{
    width: 100%;
  }
  .why{
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .three-cards{
    width: 100%;
    flex-direction: column;
  }
  .one-of-three{
    flex: 0 1 20%;
  }
  .one-of-three p{
    font-size: 0.7rem;
  }

  .services-two{
    flex-direction: column;
  }
  .services-two-text p{
    font-size: 0.9rem;
  }

  .row-map{
    display: flex;
    justify-content: center;
  }
  .map-section{
    flex-direction: column;
  }
  .bottom-title{
    font-size: 1rem;
  }
  .gmap-frame{
    width: 90%;
  }
  iframe {
    flex: 0 1 40%;
    width: 100%;
  }

}

/* Large phones (portrait and landscape) */
@media (max-width: 600px) {
  header {
    padding: 0;
  }
  .title-container{
    flex: 0 1 90%;
  }
  .title-main {
    word-spacing: normal;
    font-size: 1.2rem;
  }
  nav {
    display: none;
  }
  .section {
    padding-inline: 0.5rem;
  }
  .title-hero{
    font-size: 2rem;
  }
  .hero-perfection{
    font-size: 2.5rem;
  }
  .hero-text-desc{
    font-size: 0.7rem;
  }
  .social-icons {
    margin-bottom: 1rem;
    margin-inline: auto;
  }
  .social-icons > *{
    margin-inline: 0.5rem;
  }
  .services {
   gap: 1rem;
   padding: 1rem;
   width: 100%;
  }
  .cards {
    padding: 0.5rem;
   flex-direction: column;
   width: 100%;
   align-items: center;
   padding-bottom: 0.5rem;

  }
  .card-img{
    flex: 0 1 30%;
    max-height: 40rem;
    width: 100%;
    margin-inline: auto;

  }
  .card-badge{
    display: none;
  }
  .card-text .card-title{
    font-size: 1rem;
  }
  .card-text{
    padding-inline: 0;
    flex: 0 1 70%;
  }
  .card-text p{
    font-size: 0.7rem;
  }
  .card-img-2 {
    order: -1;
  }

  .card-btn{
    display: none;
  }

  .gallery{
    width: 100%;
  }
  .why{
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .three-cards{
    width: 100%;
    flex-direction: column;
  }
  .one-of-three{
    flex: 0 1 20%;
  }
  .one-of-three p{
    font-size: 0.7rem;
  }

  .services-two{
    flex-direction: column;
  }
  .services-two-text p{
    font-size: 0.9rem;
  }

  .row-map{
    display: flex;
    justify-content: center;
  }
  .bottom-title{
    font-size: 1rem;
  }
  iframe {
    flex: 0 1 40%;
  }
}

/* Large tablets and small desktops */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS here */
}
/* Small desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Your CSS here */
}

/* Medium desktop */
@media (min-width: 1201px) and (max-width: 1440px) {
  /* Your CSS here */
}
@media (min-width: 1441px) {
  /* Your CSS here */
}


.animate-word {
  animation: word 7s infinite;
}



@keyframes imageAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes iconAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

@keyframes iconInAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

@keyframes appearAnim {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes plusAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes imageZoom {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}
@keyframes imageZoomBack {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fadeInBackward {
	0% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}